.card {
  width: 50vh;
  height: 70vh;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20%;
  background: rgba(64, 238, 12, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(13px);
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-tropical-leaves-summer-background_23-2148936206.jpg");
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
}

.card-items {
  padding-top: 20%;
}

.card-content {
  padding: 20px;
  font-size: 4vh;
  font-family: "Sulphur Point", serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-top: 3%;
  text-align: center;
  margin: 10px;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Media Queries */

/* For small devices (phones) */
@media (max-width: 600px) {
  .card {
    width: 80vw;
    height: 60vh;
    padding: 15px;
  }
  
  .card-content {
    font-size: 3vh;
  }
}

/* For tablets */
@media (max-width: 900px) {
  .card {
    width: 70vw;
    height: 65vh;
  }
  
  .card-content {
    font-size: 3.5vh;
  }
}

/* For larger screens */
@media (min-width: 1200px) {
  .card {
    width: 40vh;
    height: 60vh;
  }
}
