/*======================
    404 page
=======================*/

.page_404 {
  position: relative;
  top: -200px;
  background: white;
  height: 110vh;
  overflow-y: hidden;
  font-size: 6vh;
  font-family: "Oswald", serif;
  text-align: center;
  font-family: "Belanosima", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 440px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 900;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  border-radius: 30px;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
@media screen and (max-width: 768px) {
  .page_404{
    font-size: 4vh;
    top: -150px;
  }
}
