.layout {
  width: auto;
  margin-top: 1%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 11% 1fr;
  gap: 0;
  height: auto;
}
.full-container {
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZXN0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
}

.sidebar {
  grid-area: sidebar;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: auto;
  position: fixed;
  top: 5%;
}
.body {
  grid-area: body;
  min-height: 100vh;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.item-container h2 {
  position: relative;
  left: 20%;
  font-size: 3vh;
  font-family: "Belanosima", serif;
  font-weight: 600;
}
.item-main-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.feed-heading {
  font-size: 7vh;
  text-align: center;
  font-family: "Luckiest Guy", serif;
  color: darkgreen;
  font-weight: 600;
  letter-spacing: 10px;
}
.feed-heading-container {
  height: 20vh;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
  width: 110vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.coming-soon {
  text-align: center;
  font-size: 11vh;
  font-family: "Belanosima", serif;
  color: darkgreen;
  font-weight: 600;
  position: relative;
  top: 30vh;
}
.post-container{
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.postCard{
  border: 5px solid black;
  padding: 20px;
 width: 50vh;
 height: auto;

 border-radius: 50px;
}
.postCard-img{
  padding: 20px;
  border: 1px solid rgb(0, 17, 255);
  height: 20vh;
}
.postCard-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.postCard-caption{
  font-size: 2vh;
  font-family: "Belanosima", serif;

}
