.layout {
  width: auto;
  margin-top: 1%;
  display: grid;
  grid:
    "sidebar body" 1fr
    / 11% 1fr;
  gap: 0;
  height: auto;
}
.full-container {
  z-index: -1;
  background-image: url("https://i.postimg.cc/FzB5zV1L/Untitled-design.png");
  background-size: contain;
  
  

}

.sidebar {
  grid-area: sidebar;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: auto;
  position: fixed;
  top: 5%;
}
.body {
  grid-area: body;
  min-height: 100vh;
  border: 1px solid black;
  /* background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}
.item-container h2 {
  position: relative;
  left: 20%;
  font-size: 3vh;
  font-family: "Belanosima", serif;
  font-weight: 600;
}
.item-main-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.feed-heading {
  font-size: 7vh;
  text-align: center;
  font-family: "Luckiest Guy", serif;
  color: darkgreen;
  font-weight: 600;
  letter-spacing: 10px;
}
.feed-heading-container {
  height: 20vh;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
  width: 110vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.coming-soon {
  text-align: center;
  font-size: 11vh;
  font-family: "Belanosima", serif;
  color: darkgreen;
  font-weight: 600;
  position: relative;
  top: 30vh;
}
.post-container {
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
.postCard {
  padding: 20px;
  width: 50vh;
  height: 60vh;
  border-radius: 54px;
  background: #f4f7f3;
  
  
    transition: transform 0.3s ease-in-out;



  position: relative; 
  overflow: hidden; 
  border-right: 15px solid #c1bbbb;
  border-left: 5px solid #abaaaa;
  border-top: 5px solid #7c7878;
  border-bottom: 15px solid #6b6868;
}
.postCard:hover {
    transform: scale(1.05);
}


.postCard-img {
  padding: 20px;
  height: 20vh;
}

.postCard-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  min-width: 20vh;
}

.postCard-caption {
  font-size: 2vh;
  font-family: "Belanosima", serif;
}

.postCard::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("https://www.svgrepo.com/show/503725/leaves.svg") no-repeat
    center;
  background-size: contain;
  opacity: 0.9;
  pointer-events: none;
}

.postCard::before {
  top: 10px;
  left: 10px;
}
.btn-like {
  padding: 10px;
  width: 10vh;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  top: -15%;
  color: palevioletred;
  font-family: "Belanosima", serif;
}
.like-icon {
  position: relative;
  top: 25%;
  right: 10%;
}
.postCard-like {
  position: relative;
  top: -15%;
}
