.together {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  padding: 10rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 1rem;
}

/* Card Styles */
.card1 {
  width: 100%;
  min-height: 400px;
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 1rem;
  color: #141417;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: rotate(0); /* Ensure cards are straight */
}

.card1:hover {
  transform: translateY(-8px) scale(1.02); /* Added scale for a subtle zoom effect */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Card Hero Section */
.card__hero1 {
  
  background-color: #151715;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem;
  text-align: center;
  margin: -1rem -1rem 1rem -1rem;
}

.card__hero1 img {
  max-width: 100%;
  height: auto;
  margin-top: 12px;
  display: block;
  
}

.card__hero1 .card__job-title1 {
  margin: 1rem 1rem 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 100;
  color: #ebebf5;
  font-family: "Belanosima", serif;
  text-align: center;
  padding: 2rem;
  
}

/* Card Header */
.card__hero-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;

  
}

/* Card Footer */
.card__footer1 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 10px;
}

@media (min-width: 768px) {
  .card__footer1 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* Job Summary */
.card__job-summary1 {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 12px;
}

/* Button Styles */
.card__btn1 {
  width: 80%;
  margin-left: 40px;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  border: none;
  background-color: #090a09;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card__btn1:hover {
  background-color: #5aa862; /* Darker shade on hover */
}

.chuza {
  width: 100%;
  height: auto;
  object-fit: cover;
  display:block;
  border-radius: 5%; /* Circular image */
}

