.card {
    width: 80vh;
    height: 70vh;
    display: flex;
    padding: 2em;
    margin-left: 40vh;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
    align-items: center;
  }
  
  .card p {
    color: black;
    font-size: 3rem;
    align-items: center;
  }
  
  .filter {
    display: none;
    position: absolute;
  }





  