.card {
    width: 80vh;
    height: 70vh;
    display: flex;
    padding: 2em;
    margin-left: 40vh;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
    align-items: center;
  }
  
  .card p {
    color: black;
    font-size: 3rem;
    align-items: center;
  }
  
  .filter {
    display: none;
    position: absolute;
  }





  /* like buttons css */
  
  #heart {
    display: none;
  }
  
  .like-button {
    position: relative;
    cursor: pointer;
    display: flex;
    height: 2px;
    width: 6px;
    border-radius: 1px;
    border: none;
    background-color: #1d1d1d;
    overflow: hidden;
    
  }
  .like {
    width: 5%;
    height: 3%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .like-icon {
    fill: #505050;
    height: 2px;
    width: 2px;
  }
  
  .like-text {
    color: #fcfcfc;
    font-size: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .like-count {
    position: absolute;
    right: 0;
    width: 2px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717070;
    font-size: 16px;
    border-left: 2px solid #4e4e4e;
    transition: all 0.5s ease-out;
  }
  
  .like-count.two {
    transform: translateY(40px);
  }
  
  .on:checked ~ .like .like-icon {
    fill: #fc4e4e;
    animation: enlarge 0.2s ease-out 1;
    transition: all 0.2s ease-out;
  }
  
  .on:checked ~ .like-count.two {
    transform: translateX(0);
    color: #fcfcfc;
  }
  
  .on:checked ~ .like-count.one {
    transform: translateY(-40px);
  }
  
  @keyframes enlarge {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1.2);
    }
  }
  

  /* comment button css */

  .bookmarkBtn {
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(103, 74, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 120px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }


  #buttons{
    display: flex;
    gap: 20px;
  }